/* Universal */

body {
  margin: 0;
  font-family: "Georgia", serif;
  font-size: 17px;
  color: black;
}

a {
  color: black;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

div {
  border: solid black 1px; /* to help visually see all the divs on page as working through */
}

/* NAV BAR */

header {
  display: flex; /* makes header a flex object */
  align-items: center; /* centers header text, but not My Times */
  position: fixed;
  z-index: 1;
  width: 100%; /* sets header bar to 100% of page */
  height: 80px; /* moves bar down slightly by making higher box */
  border-bottom: 1px solid black; /* creates bottom line */
  background-color: white; /*preserves white background for bar on scroll*/
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: bold;
  /* border: solid black 1px; */
}

.logo {
  display: flex; /* palces text and image in one container -- sets logo to flex object, subsequently raising "My Times" to top of page */
  align-items: center; /*centers vertically*/
  flex-grow: 1; /*sets flex grow so that the my times takes up the majority of the box, pushes nav to right*/
  padding-left: 30px; /* asteics -- pushes slightly to the right from the left edge */
  /* border: solid black 1px; */
}

.logo img { /*edit logo image because it's to the left (will push/adjust the text on the right)*/
  width: 70px;
  height: 60px;
  margin-right: 12px; /* KEY -- puts space between object and text in logo */
}

.logo span {
  color: mediumaquamarine; /* changes text color */
}

header nav {
  padding-right: 40px; /* pushes nav to the left of the right edge of page for astetics */
}

nav span { /* creates more space around the naviation items */
  display: inline-block;
  padding: 20px 10px;
}


/* content columns */

/* Main Content Container -- need to add the .content and .column before making container objects */

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}





.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}


/* footer */
